/*首页 底部tab切换选中样式*/
.mint-tab-item-icon .index-css{
  display: inline-block;
  background:url(../images/index-icon.png) 0 0 no-repeat;
  background-size: 25px 25px;
}
.mint-tabbar > .mint-tab-item.is-selected .index-css{
  background: url(../images/index-icon-checked.png) 0 0 no-repeat;
  background-size: 25px 25px;
}
.mint-tab-item-icon .order-css{
  display: inline-block;
  background:url(../images/order-icon.png) 0 0 no-repeat;
  background-size: 25px 25px;
}
.mint-tabbar > .mint-tab-item.is-selected .order-css{
  background: url(../images/order-icon-checked.png) 0 0 no-repeat;
  background-size: 25px 25px;
}
.mint-tab-item-icon .chart-css{
  display: inline-block;
  background:url(../images/chart-icon.png) 0 0 no-repeat;
  background-size: 25px 25px;
}
.mint-tabbar > .mint-tab-item.is-selected .chart-css{
  background: url(../images/chart-icon-checked.png) 0 0 no-repeat;
  background-size: 25px 25px;
}
.mint-tab-item-icon .mine-css{
  display: inline-block;
  background:url(../images/mine-icon.png) 0 0 no-repeat;
  background-size: 25px 25px;
}
.mint-tabbar > .mint-tab-item.is-selected .mine-css{
  background: url(../images/mine-icon-checked.png) 0 0 no-repeat;
  background-size: 25px 25px;
}
.icon-img,.icon-back-img{
  color: #fff;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
/*图标*/
/*退出\报表、搜索、主页信息*/
.icon-baobiao,.icon-logout,.icon-msg,.icon-search,.icon-filter{
  display: inline-block;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
}
.icon-search{
  background: url('../../assets/images/icon-title-search.png') no-repeat;
  background-size: 20px 20px;
}
.icon-msg{
  background: url('../../assets/images/icon-title-msg.png') no-repeat;
  background-size: 20px 20px;
}
.icon-logout{
  background: url('../../assets/images/icon-title-logout.png') no-repeat;
  background-size: 20px 20px;
}
.icon-filter{
  background: url('../../assets/images/icon-trunxia.png') no-repeat;
  background-size: 20px 20px;
}
/*返回*/
.icon-back{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: url('../../assets/images/icon-title-back.png') no-repeat;
  background-size: 20px 20px;
}
.icon-trun-on{
  width:12px;
  height: 12px;
  background: url("../../assets/images/icon-trunxia.png") no-repeat;
  background-size: 12px 12px;
  display: inline-block;
}
.icon-trun-on.off{
  transform: rotate(180deg); 
}
/*验收*/
.ys-btn{
  /*width: 59px;*/
  height: 20px;
  border: 1px solid #1188FC;
  border-radius: 6px;
  padding: 6px 16px;
  font-size: 12px;
  color: #1188FC;
  letter-spacing: 0;
}
.glow-1{
  display:flex;
  flex:1;
}
/*顶部菜单*/

.title-name{
  flex:1;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.btn{
  margin-right: 15px;
}
.btn a{
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 21px;
}
/* 没有订单的时候 */
  .done-none{
    width: 100%;
    height: 100%;
    background: #F1F6FF;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
.done-none div{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  background: url('../images/no_order.png') no-repeat;
  background-size: 150px 150px;
  background-position: 50%;
}
.done-none span{
  font-size: 14px;
  color: #ADBFD3;
  letter-spacing: 0;
}
