/* 字体各种颜色 开始*/
.ezt-titleColor1{/*标题*/
  color: #395778;
}
.ezt-titleColor2{/*内容*/
  color: #95A7BA;
}
.ezt-titleColor3{/*表头信息中的名字*/
  color: #5F7B9A;
}
.ezt-btnColor4{/*按钮*/
  color: #1188FC;
}
.ezt-btnColor5{/*取消按钮*/
  color: #5E7793;
}

/* 字体各种颜色结束 */
 
/* 字体各种大小  开始 */
.ezt-fontSize1{/*标题*/
  font-size: 15px;
}
.ezt-fontSize2{/*内容*/
  font-size: 12px;
}
.ezt-fontSize3{/*表头信息中的名字*/
  font-size: 13px;
}
.ezt-fontSize4{/*按钮*/
  font-size: 10px;
}
.ezt-fontSize5{
  font-size: 16px;
}
.ezt-fontSize6{
  font-size: 14px;
}


/* 字体各种大小 结束 */

/*弹框的title名称*/
.confirm-title{
  font-size: 16px;
  font-weight: 550;
  padding: 6px;
  display: inline-block;
}
.confirm-info-icon{
  color: #92CCF0;
  margin: 8px;
}
.confirm-content{
  background:#F8FBFF;
  padding: 14px;
}
textarea{
  background: white;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 2px;
}

/* 确定按钮 */
.ezt-confirm-btn{
  padding: 6px 30px;
  font-size: 14px;
  color: #fff;
  background: #1081EF;
  letter-spacing: 0;
  border-radius: 100px;
}

/* 取消按钮 */
.ezt-cancel-btn{
  padding: 6px 30px;
  font-size: 14px;
  color: #5F7B9A;
  background: #fff;
  letter-spacing: 0;
  border: 1px solid #BACAD9;
  border-radius: 100px;
}

/* 金额字体 */
.ezt-money-font{
  font-size: 20px;
  color: #FF6363;
  letter-spacing: 0;
}
input{
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 6px;
  height: 20px;
  /* text-align: center; */
  background: #FFFFFF;
}
/* 小号的input */
input.ezt-smart{
  width: 50px;
}
input.ezt-middle{
  width: 70%;
  max-width: 66%;
  font-size: 16px;
}
/* select选择框的样式 开始*/
.ezt-select{
  appearance: none;
  position: absolute;
  top:1px;
  bottom:4px;
  right:0;
  padding: 0 48px 0 16px;
  max-width: 65%;
  border: none;
  background: #fff;
  color: #000;
  text-indent: .01px;
  text-overflow: "";
  white-space: nowrap;
  cursor: pointer;
}
.item-select::after{
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #999;
  content: "";
  pointer-events: none;
}
.item-select::before{
  display: inline-block;
  content: "";
  box-sizing: border-box;
}
.select-list{
  position: relative;
}
.title-select-name .ezt-select{
  direction: ltr;
  width: 70%;
  max-width: 66%;
  font-size: 16px;
}
.select-time .ezt-select{  
  height: 19px;
  padding: 0px 20px 0px 3px;
  max-width: 100%;
  width: inherit;
}
.input-list{
  padding-left: 10px;
}
/* select下拉 结束  */
/* 页面顶部header 开始 */
.ezt-header{
  /* height: 45px; */
  width: 100%;
  display: flex;
  background-image: linear-gradient(139deg, #018BFF 0%, #4A39F3 100%);
  background-color: transparent;
  flex-direction: row;
  color: #fff;
  padding: 10px 0;
  /* position: absolute; */
  position: fixed;
  top:0;
  z-index: 10;
}
.ezt-header-goback{
  width: 20px;
  height: 20px;
  flex:1;
  background:url('../images/icon-title-back.png') no-repeat;
  background-size: 20px 20px;
  margin-left: 10px;
}
.ezt-header-goback.none{ /* header并没有返回按钮 */
  visibility: hidden;
  margin-left: 10px;
}
.ezt-header-title{
  flex:2;
  font-size: 19px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}
.ezt-header-action{
  flex:1;
}
/* 页面顶部header 结束 */

/* 页面内容布局 开始 */
.ezt-container{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.ezt-main{  
  position: relative;
  width:100%;
  height: 100%;
  margin-top: 46px;
}
.ezt-page-con{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: -1px;
  position: absolute;
  background-color: #F1F6FF;
}
/* 页面内容布局 结束 */

/*列表样式*/
.return-dc-list {
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #DDECFD;
    box-shadow: 0 0 20px 0 rgba(71, 66, 227, 0.07);
    border-radius: 6px;
    margin: 8px 10px;
  }
  .return-dc-list>div{
    font-size: 15px;
    color: #5E7A98;
    margin: 8px 15px 0 15px;
    border-bottom: 1px solid #E2EDFA;
    padding-bottom: 8px;
    display:flex;
    align-items: center;
  }
  .return-turn-icon{
    width: 14px;
    height: 14px;
    background: url('../images/icon-trunright.png') no-repeat;
    display: inline-block;
    background-size: 14px 14px;
  }
  .return-list-title{
    display:flex;
    flex:1;
  }
  .return-dc-content p{
     display: inline-block;
  }
  .return-cot-l{
    display: flex;
    flex:1;
    flex-direction: column;
  }
  .return-dc-title{
    font-size: 12px;
    color: #5F7B9A;
    line-height: 20px;
  }
  .return-dc-content{
    font-size: 13px;
    color: #395778;
  }
  .return-ys-btn{
    height: 100%;
    border: 1px solid #1188FC;
    border-radius: 6px;
    padding: 6px 16px;
    font-size: 12px;
    color: #1188FC;
    letter-spacing: 0;
  }
   /* 退货单列表样式 结束 */

    /* 收货单列表样式 开始 */
  .receive-dc-list {
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #DDECFD;
    box-shadow: 0 0 20px 0 rgba(71, 66, 227, 0.07);
    border-radius: 6px;
    margin: 8px 10px;
  }

  .receive-icon-dcName, .receive-icon-orderName {
    width: 18px;
    height: 18px;
    display: inline-block;  
    vertical-align: middle;
    margin: 0px 3px 0px 14px;  
  }
  
  .receive-icon-dcName{
    background: url('../images/icon-dcName.png') no-repeat;
    background-size: 20px 20px;
  }
  .receive-icon-orderName {
    background: url('../images/icon-orderName.png') no-repeat;
    background-size: 20px 20px;
  }
  .receive-icon-dcName.type{   
    opacity: 0.7;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    font-style: normal;
    display: block;
    float: left;
    margin-right: 5px;
    background: linear-gradient(-139deg, #FFB38F 0%, #FF9FA7 100%);
  }

  .receive-icon-title {
    font-size: 15px;
    color: #395778;
    display:flex;
    letter-spacing: 0;
    padding: 11px 0px 11px 3px;
    border-bottom: 1px solid #E0EBF9;
  }

  .receive-icon-content {
    padding: 12px 21px 12px 15px;
  }

  .receive-icon-bottom {
    padding: 12px 15px;
    box-shadow: 0 0 10px 0 rgba(71, 66, 227, 0.07);
    display: flex;
    flex-direction: row;
  }

  .receive-dc-title {
    font-size: 12px;
    color: #95A7BA;
    letter-spacing: 0;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .receive-dc-content {
    font-size: 13px;
    color: #395778;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    flex:1;
  }

  .receive-total {
    margin-left: 5px;
    font-size: 12px;
    color: #395778;
    letter-spacing: 0;
  }
  .receive-ys-btn{
    /*width: 59px;*/
    height: 20px;
    border: 1px solid #1188FC;
    border-radius: 6px;
    padding: 6px 16px;
    font-size: 12px;
    color: #1188FC;
    letter-spacing: 0;
  }
  .receive-ys{
    background-color: red;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    -webkit-transform: rotate(7deg);
    transform: rotate(-22deg);
  }
  .receive-status{
    font-size: 12px;
    margin-right: 15px;
    color: #FFA32C;
    letter-spacing: 0;
  }
   /* 收货单列表样式 结束 */

   /* 退货清单、收货详情物品列表 开始*/
   .detail-content-list {
    /*padding: 12px 15px 0px 15px;*/
    margin: 5px 10px;
    border: 1px solid #DDECFD;
    box-shadow: 0 0 20px 0 rgba(71, 66, 227, 0.07);
    border-radius: 6px;
    background: #FFFFFF;
    text-align: left;
  }

  .detail-detaillist-title {
    font-size: 15px;
    color: #395778;
    letter-spacing: 0;
    margin: 12px 15px 0px 15px;
    display: flex;
    flex-direction: row;
  }

  .detail-detaillist-title span {
    font-size: 12px;
    color: #95A7BA;
    letter-spacing: 0;
    margin-left: 8px;
  }

  .detail-list-left {
    font-size: 12px;
    color: #5F7B9A;
    letter-spacing: 0;
    flex: 1;
  }

  .detail-list-right {
    font-size: 13px;
    color: #395778;
    letter-spacing: 0;
  }

  .detail-detaillist-cot {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    margin: 12px 15px 0px 15px;
  }

  .detail-detaillist-bot {
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(71, 66, 227, 0.07);
    /* padding: 15px 0px; */
    margin: 12px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }

  .detail-detaillist-bot .detail-list-left {
    margin-left: 12px;
    display: inline-block;
    display: flex;
    align-items: center;
  }
  .detail-act-right{
    flex: 1;
    background: #FFFFFF;
    border: 1px solid #C1CFDE;
    padding: 15px 0;
    font-size: 12px;
    color: #5F7B9A;
    letter-spacing: 0;
  }
  
  .detail-detaillist-bot input{
    border: none;
    width: 100px;
  }
  /* 退货清单、收货详情物品列表 结束*/

  /* 详情页底部 */
  .ezt-page-footer {
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 6px 0px;
    background: #FFFFFF;
    box-shadow: 0 -1px 3px 0 rgba(204, 216, 228, 0.80);
    width: 100%;
    z-index: 8;
  }
  /* 下拉左侧lable字体样式 */
  .title-search-name,.AuditInvoice .weui-label{
    font-size: 17px;
    color: #5F7B9A;
  }
  /* 下拉选项值样式 */
  .title-select-name{
    font-size: 14px;
    color: #5F7B9A;
    height: 20px;
  }
  /* 日历占位样式 */
  .input-canlendar{
    display: inline-block; 
    position: relative;   
  }
  .input-canlendar .ezt-canlendar{
    width: 91px;
    font-size: 14px;
  }
  .ezt-sanjiao::after{
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
    display: inline-block;
  }
  /* 背景色按钮 */
  .ezt-two-btn{
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 6px 44px;
    background-image: -webkit-gradient(linear, left top, right top, from(#5A12CC), to(#3C82FB));
    background-image: linear-gradient(90deg, #5A12CC 0%, #3C82FB 100%);
    -webkit-box-shadow: 0 3px 10px 0 rgba(60, 130, 251, 0.43);
    box-shadow: 0 3px 10px 0 rgba(60, 130, 251, 0.43);
    border-radius: 100px;
    cursor: pointer;
    width: 100%;
  }
  /*列表页 tab下面内容高度*/
  .ezt-add-content{   
    overflow:hidden;
    padding-bottom: 70px;
    width: 100%;
    margin-top: -1px;
  }
  /* 头部信息带有选项修改的样式 下拉 */
  .ezt-title-search{
    background: #fff;
  }
  .ezt-title-search li{
      padding: 10px 10px 10px 16px;
      border-bottom: 1px solid #E0EBF9;
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  /* .ezt-title-search li:last-child{
    background:none;
    padding: 4px 0px;
  } */
  .title-search-name{
    flex:1;
  }
  /* 物品明细中 备注 */
  .park-input .title-search-name{
    font-size: 14px;
  }
  .icon-trun-on{
    margin-left: 10px;
  }
  .title-search-right{
    margin-right: 6px;
  }
  /* 页面底部按钮样式  开始 */
     .ezt-foot-temporary{
        width: 100%;
        /* height: 76px;        */
        position: absolute;
        bottom: 0;                
      }
      .ezt-foot-total{
        height: 29px;
        line-height: 29px;
        font-size: 12px;
        color: #5F7B9A;
        background: #FFF8DD;
        padding-right: 10px;
        text-align: right;
      }
      .ezt-foot-total span{
        font-size: 15px;
        color: red;
      }        
      .ezt-foot-button{
        display: flex;
        flex-direction: row;
        height: 50px;
        line-height: 50px;
        justify-content: space-around;
        font-size: 15px;
        color: #FFFFFF; 
      }
      .ezt-foot-storage{
        width: 50%;
        cursor: pointer;
        background-color: #395778;
        color: #fff;
      }
      .ezt-foot-sub{
      flex: 1;
      cursor: pointer;
      background-color: #1188FC;
      color: #fff;
    }     
      /**没有任何单据的时候*/
    .done-none{
      width: 100%;
      height: 100%;
      background: #F1F6FF;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .done-none div{
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column-reverse;
      background: url('../images/no_order.png') no-repeat;
      background-size: 150px 150px;
      background-position: 50%;
    }
    .done-none span{
      font-size: 14px;
      color: #ADBFD3;
      letter-spacing: 0;
    }
   /* 首页底部tab切换样式 开始 */
  .ezt-footer-tab{
    display: flex;
    flex-direction: row;    
  }
  .ezt-footer-tab li{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;     
  }  
  .ezt-footer-tab li .footer-index,.footer-order,.footer-chart{
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
  }
  .ezt-footer-tab li .footer-index{
    background: url('../images/index-icon.png') no-repeat;
    background-size: 24px 24px;
  }
  .ezt-footer-tab li .footer-order{
    background: url('../images/order-icon.png') no-repeat;
    background-size: 24px 24px;
  }
  .ezt-footer-tab li .footer-chart{
    background: url('../images/chart-icon.png') no-repeat;
    background-size: 24px 24px;
  }
  .ezt-footer-tab li.active{
    color: #1188FC;   
  }
  .ezt-footer-tab li.active .footer-index{
    background: url('../images/index-icon-checked.png') no-repeat;
    background-size: 24px 24px;
  }
  .ezt-footer-tab li.active .footer-order{
    background: url('../images/order-icon-checked.png') no-repeat;
    background-size: 24px 24px;
  }
  .ezt-footer-tab li.active .footer-chart{
    background: url('../images/chart-icon-checked.png') no-repeat;
    background-size: 24px 24px;
  }
   /* 底部tab样式结束  */
   /* 必填项样式 */
   .is-required:before{
    content: '*';
    color: #fa5555;
    margin-right: 4px;
    position: absolute;
    line-height: 26px;
    /* height: 32px; */
    margin-left: -10px;
    display: inline-block;
   }
   .selectError{
    border: 1px solid #ff1300;
    border-radius: 3px;
   }
   .ezt-action-point{
     margin: 0 5px;
     font-size: 16px;
   }

  /* 字体放大新调整  开始*/
  .receive-dc-title{
    font-size: 16px;
    line-height: 24px;
  }
  .receive-total{
    font-size: 14px;
  }
  .receive-dc-content{
    font-size: 15px;
  }
  .icon-menu span{
    font-size: 15px !important;
  }
  .detail-acount-title{
    font-size: 15px !important;
  }
  .good-detail-billno{
    flex: 1.3!important;
    font-size: 14px !important;
  }
  .receive-status{
    font-size: 13px!important;
  }
  /* 字体放大新调整  结束*/
.ezt-pri-remark{
  width: 100%;
}
/*搜索弹框*/
.search-dialog{
  width: 100%; 
  position:fixed;
  top:45px; 
  z-index:9999;
}
/*字体图标 与文字对齐方式 */
.vux-tab .vux-tab-item{
  font-size: 16px !important;
}
/*toasted 换行*/
.toasted-container .toasted{
  word-break: break-all;
}

   